body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #f5f5f5;
    scroll-behavior: smooth;
   
}
.sidebar{
    height: 100%;
    width:250px;
    position: fixed;
    background: #111;
    padding:20px ;
    box-shadow: 4px 0 10px rgba(0,0,0,0.5);
}
.sidebar h2{
    text-align: center;
    color: #00f2fe;
    margin-bottom: 30px;
}
.sidebar a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #ddd;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover{
    background: #00f2fe;
    color: #000;
    padding-left: 30px;
}
.content{
    margin-left: 260px;
    padding: 40px;

}
h1{
    color: #00f2fe;
    text-align: center;
    font-size: 40px;
}
h2{
    color: #00c6ff;
    margin-top: 40px;
}
h3{
    color: #66fcf1;

}
h4{
    color:#45a29e;
}
p{
    line-height: 1.7;
}
ul{
    margin-left: 20px;
}
section{
    margin-bottom: 40px;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
